<footer>
    <div class="wd-60 mt-2 mx-auto bg-gray-700 text-white text-slate-50">
        <p class="text-center">
            &copy; {% now "Y" %} - Tous droits réservés. Blog de code créé par Xenatronics.
        </p>
        <p class="text-center">
            Suivez-nous sur :
            <a href="https://www.facebook.com/votrepage" target="_blank"><i class='bx bxl-facebook'></i></a> |
            <a href="https://www.youtube.com/channel/votrechannel" target="_blank"><i class='bx bxl-youtube'></i></a> |
            <a href="https://github.com/votrecompte" target="_blank"><i class='bx bxl-github'></i></a>
        </p>
    </div>
</footer>