.intro-content p {
    margin: 0.8rem 0;
}

.intro-content ul, li{
    list-style: disc;
    margin-left: 0.9rem;    
}


.wd-50{
    width: 50%;
}

.wd-60{
    width: 60%;
}

.wd-70{
    width: 70%;
}

.wd-80{
    width: 80%;
}

.form-contact{
    display: flex;
    flex-direction: column;
}

.form-contact p{
    display: inline-flex;
    margin: 1rem 0.3rem;
}

.form-contact input, textarea{
    border: 1px solid #44444422;
    border-radius: 5px;
    width: 50%;
    padding: 0.2rem 1rem;
    align-content: center;
}

.form-contact label{
    width: 6.5rem;
}

.form-contact button {
    width: 100px;
}